body {
  margin: 0;
  position: relative;
}
.page-logo {
  background: #3399cc;
}
.main-head {
  font-family: "Century Gothic",sans-serif;
  color: #fff;
  line-height: 88px;
  font-weight: normal;
  font-size: 39px;
  padding-left: 17px;
  margin: 0;
}
.topnav {
  height: 30px;
  padding-right: 0px;
  background-color: #333;
  font-weight: bolder;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
}
li {
  display: inline-block;
  padding: 7px;
  
}
.nav {
  margin-left: 5px;
  padding: 0px;
  color: white;
  font-size: 12px;
  display: inline-flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
 
.nav a {
  padding: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav li:first-child:hover {
  background-color: #ff9d2f;
 
}
.nav li:not(:first-child):hover {
  background-color: #ff9d2f;
  color: #000000;
  /* border-left: 2px solid white; */
}

.image {
float: right;
justify-content: end;
margin-right: 20px;
margin-top: 4px;
}
body {
  font-family: Arial, sans-serif;
}
.contact{
  margin-left: 2px;
  border: 1px solid darkgray;
  width: 300px;
  padding-left: 8px;
  padding-top: 11px;
  font-family: system-ui,'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;

} 
.contact:hover {
  background-color: #cee7f2; 
}
.contact.active {
  background-color: #cee7f2;
}
.contactLists {
  font-size: normal;
  font-family: sans-serif;
  margin-left: 19px;
  font-weight: normal;
}
 
h4 {
  font-size: larger;
}
 
.dialog-box {
  width: 449px;
  margin-left: 29em;
  margin-top: 3em;
  padding: 29px;
  background-color: #fff;
  /* border: 1px solid #333; */
  box-shadow: 0 0 10px rgb(17 1 1 / 86%);
   display: none; 
  position: absolute;
  z-index: 1000;
}
.cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #333;
}


.input-field {
  margin-bottom: 15px;
}
 
.input-field label {
  display: block;
  margin-bottom: 5px;
}
 
.input-field input {
  width: 345px;
  padding: 8px;
}
 
.input-field textarea {
  width: 345px;
  padding: 8px;
}
 
.phone {
  display: flex;
  column-gap: 15px;
}
 
.input-field .phone input {
  padding: 8px;
}
 
.col input {
  width: 158px;
}
 
.details {
  border: 1px solid;
  width: 177px;
  padding-left: 25px;
}

.add{
  margin-right: 33px;
  padding: 5px 38px 5px 28px;
  background-color: green;
  color: #fff;
  float: right;
  border: none;
   }

.showContactsList
{
display: flex;
}

.fullDetails
{
margin-left: 6em;
margin-top: 2em;
position: relative;
font-family: system-ui;
}
.button
{
background: #fff;
border: 1PX;
}

.editDeleteButtons {
position: absolute;
top: 27px;
right: 0;
left: 24em;
display: flex;
column-gap: 18px;
font-family: Calibri;

}


.editicon
{
display: flex;
flex-direction: row;
padding-top: 4px;
cursor: pointer;

}

.deleteicon
{
display: flex;
flex-direction: row;
margin-top: 3px;
cursor: pointer;
padding-left: 8px;
}
.first-container{
display: flex;
flex-direction: column;

}
.contacts-text{
margin-left: 20px;
}
.editImage{
height: 18px;
width: 20px;
padding-top: 5px;
margin-left: 56px;
padding-right: 5px;
}
.deleteImage{
height: 21px;
width: 20px;
padding-left: 15px;
}
.sidecontaclisttname{
  font-size: 33px;

}
.contactname{
 font-size: 26px;
 font-weight: bold;

 /* font-weight: lighter; */
 margin-bottom: 1.5px;
 /* line-height: 2;  */
}
.contacts-container h1 {
  color: #333;
  margin-bottom: 20px;
  font-weight: 500;
  padding-left: 0px;
 
}

.contacts-container p {
  margin: 0;
  padding-left: 2px;
}

.contacts-container p.email
{
  margin-top: 1px;
  margin-bottom: 17px;
}


.contacts-container p.landline
{
 margin-bottom: 20px;
}

.contacts-container p.address
{
  margin-top: 20px;
}

.sidecontactname
  {
     font-size: 32px; 
  
    }
.contactnametext{
  margin-top: 2px;
  margin-bottom: 0px;
}

